div {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

html {
    background-color: #ecf0f1;
}

input {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}

#search-bar {
    margin-top: 10px;
    width:87%;
}

#panel {
    width: 30%;
    margin: 0 auto;
}

#last {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

